@import compass/reset
@import compass/utilities
@import compass/css3

// Base font
=font-default
  font: 13px "museo-slab"  serif
  font-weight: 300
// Fixed Width Layout
body
  +font-default
  background: #CBCCCF
  color: #000000
  width: 960px
  margin: 0 auto 0 auto
// Links
a
  color: #BF221D
  text-decoration: none
  &:hover
    text-decoration: underline
b 
  font-weight: 700
h1
  font-size: 40px
  text-align: center
  width: 100%
  font-family: "trajan-pro"  sans-serif
  margin: 35px 0
h2
  font-size: 28px
  text-align: center
  width: 100%
  font-family: "trajan-pro"  sans-serif
  margin: 25px 0
p
  text-align: justify
  text-indent: 30px
  margin: 10px 30px
  font-size: 16px
form
  margin: 15px 0
.box
  margin: 30px 0
  background: #FFFFFF
  border-radius: 15px
  border: 1px solid #000
  width: 100%
// Home page when not signed in
#intro
  width: 637px
  margin-left: 202px
  margin-top: 20px
  img
    margin: 0 25px
.call_button
  width: 20%
  margin: 35px 40%
  display: block
  font-size: 24px
  padding: 10px
  background: #CBCCCF
  border-radius: 15px
  font-weight: 700
  display: inline-block
  text-align: center
  border: 1px solid #000
  text-decoration: none
  &:hover
    color: #CBCCCF
    background: #BF221D
    text-decoration: none
// Greetings when signed in
#greetings
  text-align: center
  margin-top: 20px
// Dividing the screen in two to have two forms at the same time
.divide-left 
  float: left
  width: 50%
.divide-right 
  float: right
  width: 50%
.full
  width: 100%
// The forms for the website
form, input
  font-size: 13px
  font-family: "museo-slab", serif
input
  padding-top: 0px
.radio .inline 
  padding-top: 0px
.divide 
  overflow: hidden
// Text Area boxes using Bootstrap's .form-horizontal
textarea
  width: 657px
  max-width: 657px
  font-family: "museo-slab", serif
// Checklist at the bottom answer styling
#checklist
  font-size: 13px
  margin-left: 32%
  p 
    text-indent: -30px
    font-size: 13px
li 
  margin: 5px 0
// Yes or No Questions that show based on answer
#yesorno
  width: 800px
  margin: 0 auto
  .control-label
    width: 575px
    .control-group 
      width: 300px
table
  margin: 10px 0 
  input
    margin: 0
#clio
  width: 70%
  margin: 30px 15% 0 15%
  font-size: 20px
  text-align: center
  font-family: 'trajan-pro', sans-serif

// Submit button on the bottom of the form
.submit_button
  margin: 30px auto
  display: block
  font-size: 30px
  font-family: "trajan-pro", sans-serif
  padding: 10px 30px
  background: #CBCCCF
  color: #BF221D
  border-radius: 15px
  font-weight: 700
  border: 1px solid #000
  text-decoration: none
  width: 50%
  &:hover
    color: #CBCCCF
    background: #BF221D
    text-decoration: none
// Footer
footer 
  text-align: center
  margin-bottom: 5px


// What goes on review page
.client
  margin-left: 30%
  font-size: 16px
  line-height: 22px