%h1 Sinatra has taken the stage

.navbar
	%a{:href => '/logout'}logout


%h3
	= 'Hello,' + session['auth']['info']['first_name'] + ', ' if session['token']
	Welcome to my list of interesting articles.
	= @posts


.content 
	Welcome