html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

body {
  font: 16px "museo-slab", serif;
  font-weight: 300;
  background: #cbcccf;
  color: black;
  width: 960px;
  margin: 0 auto 0 auto;
}

a {
  color: #bf221d;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:focus, a:active {
  outline: none;
}

h1 {
  left: 0;
  font-size: 40px;
  text-align: center;
  width: 100%;
  font-family: "trajan-pro", sans-serif;
  margin: 35px 0;
}

ul {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  background: #e7e7e7;
  border: 1px solid #cccccc;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
ul li {
  display: inline;
  line-height: 30px;
  padding: 0 15px;
}
ul li a {
  color: black;
  text-decoration: none;
}
ul li a:hover {
  text-decoration: underline;
}

p {
  text-align: justify;
}

.box {
  margin-top: 30px;
  background: white;
  padding: 30px;
  border-radius: 15px;
  border: 1px solid black;
}

#intro {
  width: 637px;
  margin: 0 150px 10px 173px;
  padding: 3px;
}
#intro img {
  margin: 0 25px;
}

.call_button {
  width: 20%;
  margin: 35px 40%;
  display: block;
  font-size: 24px;
  padding: 10px;
  background: #cbcccf;
  border-radius: 15px;
  font-weight: 700;
  display: inline-block;
  text-align: center;
  border: 1px solid black;
  text-decoration: none;
}
.call_button:hover {
  color: #cbcccf;
  background: #bf221d;
  text-decoration: none;
}

.submit_button {
  width: 16%;
  margin: 35px 42%;
  display: block;
  font-size: 24px;
  padding: 10px;
  background: #cbcccf;
  border-radius: 15px;
  font-weight: 700;
  display: inline-block;
  text-align: center;
  border: 1px solid black;
  text-decoration: none;
}
.submit_button:hover {
  color: #cbcccf;
  background: #bf221d;
  text-decoration: none;
}

#greetings {
  text-align: center;
}
